dataset:
  batch_size: 16
  frames_per_clip: 52
  clips_per_utterance: 10
  padding_frames: 0
  dataloader_num_workers: 4
  dataloader_prefetch_factor: 4

model:
  residual_layers: 30
  residual_channels: 64
  dilation_cycle_length: 10
  training_noise_schedule:
    n_iter: 50
    betas_range: [1.0e-4, 0.05]
  inference_noise_schedule:
  - 0.0001
  - 0.001
  - 0.01
  - 0.05
  - 0.2
  - 0.5
  learning_rate: 2.0e-4
  n_iterations: 1500000
